@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body{
  position: relative;
}
.chatbox{
  margin: 5px 0;
  padding: 10px;
  border-radius: 8px;
  background-color: #debfd0;
  position: relative;
  max-width: 400px;
}
.container{
  display: flex;
  max-width: 100%;
}
.container.me{
  flex-direction: row-reverse;
}
.me .chatbox{
  background-color: #72b692;
}
.chat-container{
  height: 63vh;
  overflow-y:auto;
  border: 1px solid black;
  background: #f3e7ee;
  padding: 0 2rem;
  max-width: 954px;
  margin: auto;
  width: 100%;
  
}