@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body{
  position: relative;
}
.chatbox{
  margin: 5px 0;
  padding: 10px;
  border-radius: 8px;
  background-color: cadetblue;
  border: 1px solid #232323;
}
.container{
  display: flex;
  max-width: 100%;
}
.container.me{
  flex-direction: row-reverse;
}
.me .chatbox{
  background-color: blanchedalmond;
}
.chat-container{
  height: 60vh;
  overflow-y:scroll;
  border: 1px solid black;
}