@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #110;
}
#root {
  flex: 0 1 70%;
}
.chatbox {
  margin: 5px 0;
  padding: 10px;
  border-radius: 8px;
  background-color: #debfd0;
  position: relative;
  max-width: 400px;
}
.container {
  display: flex;
  max-width: 100%;
}
.container.me {
  flex-direction: row-reverse;
}
.me .chatbox {
  background-color: #72b692;
}
.chat-container {
  height: 63vh;
  overflow-y: auto;
  border: 1px solid black;
  background: #f3e7ee;
  padding: 0 2rem;
  max-width: 1024px;
  margin: auto;
  width: 100%;
}
